<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>
<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <div class="card-title">
                <h2>Novo Artigo</h2>
            </div>
            <form action="/articles/save" method="post">
                <input
                    type="text"
                    class="form-control mt-4"
                    name="title"
                    placeholder="Defina o título do artigo"
                    style="margin-bottom: 15px"
                />
                <textarea
                    class="form-control"
                    placeholder="Escreva o artigo aqui"
                    name="body"
                    id="editor"
                ></textarea>
                <label style="margin-top: 20px">Categorias</label>
                <select name="category" class="form-control mt-2">
                    <% categories.forEach((category)=> { %>
                    <option value="<%= category.id %>">
                        <%= category.title %>
                    </option>
                    <%}) %>
                </select>
                <button type="submit" class="btn btn-success mt-4">
                    Cadastrar
                </button>
            </form>
        </div>
    </div>
</div>
<%- include ("../../partials/footer.ejs") %>

<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#editor",
        promotion: false,
        plugins: [
            "lists",
            "advlist",
            "autolink",
            "emoticons",
            "link",
            "media",
            "preview",
            "searchreplace",
            "save",
            "table",
            "wordcount",
            "image",
            "fullscreen",
        ],
    });
</script>
